<h2>Response</h2>
<div *ngIf="!responsePresent" class="alert alert-primary" role="alert">
  Initiate request to load response!
</div>
<div *ngIf="!isErro && responsePresent" class="alert alert-success" role="alert">
    Transaction processing successful
  </div>
<div *ngIf="isError && responsePresent"  class="alert alert-danger" role="alert">
  Transaction failed
</div>
<form>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="responseJson">Response</label>
        <textarea [(ngModel)]="processorService.response" name="response" class="form-control" id="responseJson" rows="5"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="bd-example">
        <button type="button" class="btn btn-danger" (click)= "clear()"> CLEAR </button>
        <button type="button" class="btn btn-secondary" ngxClipboard [cbContent]="processorService.response" > COPY </button>
      </div>
    </div>
  </div>
</form>
