<main role="main">

  <div class="jumbotron">
    <div class="container">
        <img src="assets/phone.png" class="rounded float-left" alt="...">
      <h1 class="display-3">{{title}}</h1>
      <p>{{description}}</p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-6">
        <app-request></app-request>
      </div>
      <div class="col-md-6">
        <app-response></app-response>
      </div>
    </div>
    <hr>
  </div>
  <!-- /container -->

</main>

<footer class="container">
  <p class="float-left">&copy; Ignatius Ojiambo {{year}}</p>
  <p class="float-right">processed transactions: <span class="text-muted">{{processorService.count}}</span></p>
</footer>
